.catalog {
  border: 1px solid black;
  height: 40rem;
  margin: 8rem 0;
  width: 100%;
}

.col_1 {
  float: left;
  padding: 1%;
  width: 20%;
}

.col_2 {
  float: right;
  padding: 1%;
  width: 80%;
}

.top_row {
  // border: 1px solid black;
  float: left;
  height: 3rem;
  width: 98%;
}

.catalog_title {
  // border: 1px solid black;
  float: left;
  font-size: 1.5rem;
  margin-left: 0.25rem;
  width: 100%;
}

.catalog_button {
  background-color: #3498db;
  border-radius: 0.5rem;
  color: white;
  float: left;
  font-size: 0.75rem;
  height: 1.75rem;
  margin: 0.5rem 0.75rem 0.5rem 0;
  padding: 0.3rem 0.25rem;
  text-align: center;
  width: 6rem;
}

.catalog_menu {
  border: 1px solid black;
  float: left;
  height: 30rem;
  width: 98%;
}

.catalog_content {
  border: 1px solid black;
  float: left;
  min-height: 20rem;
  width: 98%;
}
