#shop {
  height: 100%;
  padding: 0 5.423%;
  width: 100%;
}

.banner {
  border: 1px solid black;
  height: 20rem;
  margin: 4rem 0 0;
  width: 100%;
}

.profile {
  border: 1px solid black;
  height: 15rem;
  margin: 3rem 5.423%;
  width: 88.154%;
}

.shelf.feature {
  margin-top: 7rem;
}

.shelf {
  border: 1px solid black;
  height: 16rem;
  margin: 3rem 5.423%;
  width: 88.154%;
}

.catologue {
  border: 1px solid black;
  height: 40rem;
  margin: 8rem 0;
  width: 100%;
}
